@import url(./assets/styles/header.css);
@import url(./assets/styles/home.css);
@import url(./assets/styles/category.css);
@import url(./assets/styles/about.css);
@import url(./assets/styles/trick.css);
@import url(./assets/styles/discount.css);

:root {
    --d-green: #39492B;
    --l-green: #747349;
    --white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--white);
}

.section {
    background: linear-gradient(to right, var(--d-green), var(--l-green));
}

.home__buttons .button {
    border-radius: 0.6rem;
    background-color: #E25D34;
}