 .section.about {
     background: linear-gradient(to right, var(--d-green), var(--l-green));
 }

 .about__container {
     margin: 0 auto;
     display: flex;
     justify-content: space-evenly;
     width: 60%;
     margin: 0 auto;
 }

 .about__data {
     padding-left: 3rem;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: flex-start;
     margin-bottom: 2rem;
 }

 .about__data a.button {
     color: #FFFEFE;
     padding: 1rem 1.5rem;
     border-radius: 0.6rem;
     background-color: #E25D34;
 }

 .about__img {
     width: 60%;
     aspect-ratio: 1/1;
     object-fit: contain;
     margin-bottom: 2rem;
 }

 @media screen and (max-width: 880px) {
     .about__container {
         width: 90%;
     }

     .about__description {
         padding: 1rem 0;
     }

     .about__img {
         width: 50%;
     }
 }