 .section.discount {
   padding: 4rem 0;
 }

 .discount__container {
   padding: 2rem 0;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-evenly;
   width: 60%;
   background: linear-gradient(to right, var(--d-green), var(--l-green));
   border-radius: 2rem;
   margin: 0 auto;
 }

 .discount__data>* {
   padding: 1rem 0;
 }

 .discount__data {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 .discount__data .button {
   border-radius: 0.6rem;
   background-color: #E25D34;
   color: #FFFEFE;
   padding: 1rem 1.5rem;
 }

 .discount__img {
   width: 50%;
 }

 @media screen and (max-width: 880px) {
  .discount__container {
    width: 80%;
  }
 }