.home__content.grid {
    /* border: thin solid rgb(248, 244, 244); */
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.swiper-slide {
    height: 100vh;
    background: linear-gradient(to right, var(--d-green), var(--l-green));

}

.home__group {
    grid-area: "home";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home__img {
    width: 55%;
    object-fit: cover;
    display: block;
    margin-left: 30%;
    margin-bottom: 6rem;

}

.home__details-img {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1rem 0rem;
    text-align: right;
    margin-right: 50%;
    margin-bottom: 6rem;
    border-right: thin solid #FFFEFD;

}

.home__indicator {
    width: 0.6rem;
    aspect-ratio: 1/1;
    border: thin solid #FFFEFD;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 auto;
}

.home__data>* {
    padding-top: 0.9rem;
}

.home__data {
    grid-area: "data";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6rem;
    padding-right: 10rem;
}

.home__subtitle {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.home__title {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
}

.home__description {
    color: #FFFEFD;
    padding-right: 5rem;
    font-size: 1.2rem;

}

.home__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home__buttons .button,
.button--link {
    color: #FFFEFE;
    padding: 1rem 1.5rem;
}

@media screen and (max-width: 880px) {
    .home__data {
        padding-right: 5rem;
    }

    .home__subtitle {
        font-size: 1rem;
    }

    .home__title {
        font-size: 2rem;
    }

    .home__buttons .button,
    .button--link {
        padding: 1rem 0.5rem;
        text-align: center;
    }
}