 .newsletter {
     text-align: center;
     padding: 3rem 0;
 }

 .newsletter__container {
     margin: 0 auto;
     width: 60%;
 }

 .newsletter__description {
     width: 45%;
     margin: 0 auto;
     font-size: 1.1rem;
     line-height: 1.5;
 }

 .newsletter__form {
     width: 65%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     padding: 3rem 1rem;
 }

 .newsletter__input {
     width: 55%;
     background: linear-gradient(to right, var(--d-green), var(--l-green));
     border: none;
     border-radius: 0.6rem;
     padding-left: 1rem;
 }

 .newsletter__input::placeholder {
     color: white;
     opacity: 1;
 }

 .button.letter {
     width: 40%;
     padding: 1rem 2rem;
     color: white;
     border-radius: 0.6rem;
     background-color: #E25D34;
     border: none;
 }

 @media (max-width:800px) {
     .newsletter__form {
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         gap: 2rem;
     }

     .newsletter__input {
         width: 90%;
         padding: 1.5rem;
     }

     .button.letter {
         width: 90%;
     }
 }