 .section.trick {
     text-align: center;
 }

 .section__title {
     margin-bottom: 3rem;
 }

 .trick__container {
     margin: 0 auto;
     width: 60%;
     display: grid;
     grid: repeat(2, 1fr) / repeat(3, 1fr);
     gap: 2rem;
 }

 .trick__content>* {
     padding: 0.3rem;
 }

 .trick__content {
     background: linear-gradient(to right, var(--l-green), var(--d-green));
     border-radius: 1rem;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     padding: 0 1.2rem 1.5rem; 
     /* aspect-ratio: 1/1; */
 }

 .trick__subtitle {
     color: #D3D2CE;
 }

 .trick__img {
     width: 80%;
     aspect-ratio: 1/1;
     object-fit: cover;
 }

 .trick__button {
     display: none;
 }

  @media screen and (max-width: 880px) {
    .trick__container {
     margin: 0 auto;
     width: 80%;
     display: grid;
     grid: repeat(2, 1fr) / repeat(2, 1fr);
     gap: 2rem;
 }
 }
 @media screen and (max-width: 575px) {
    .trick__container {
     width: 90%;
    }
.trick__content {
    aspect-ratio: 1/1;
    height: 13rem;
}
.trick__img {
     width: 60%;
}
 }